.main {
    height: 100vh;
    width: 100vw;
    margin-top: 8vh;
    margin-bottom: 5vh;
    background-image:url("../../../assets/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    overflow: scroll; /* Permite tener fijo la imagen de fondo */
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 3px 3px black; */
    z-index: 0;
} 

.card {
    box-sizing: border-box;
    width: 15vw;
    height: 50vh;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    /* cursor: pointer; */
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;  
    margin: 5% 5%;  
  }

  .card h2{
    color: black;
  }

  .imgBook {
    height: 17vh;
    margin-top: 1vh;
  }

  /* Fin Card */

  
/*   BOTON */
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid rgb(133, 156, 41);
    border-radius: 0.6em;
    color: rgb(133, 156, 41);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .third {
    border-color: rgb(133, 156, 41);
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(133, 156, 41) inset, 0 0 0 0 rgb(133, 156, 41);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    border-color: rgb(11, 11, 11);
    box-shadow: 0 0 10px 0 rgb(11, 11, 11) inset, 0 0 10px 4px rgb(11, 11, 11);
    color: rgb(11, 11, 11);
  } 
  
  .btnPar{
    color: black;
  }
  /* Fin Boton */

  .btnClose{
    height: 3vh;
    width: 3vh;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    border: none;
    cursor: pointer;
    background-color: rgb(133, 156, 41);
    color: white;
    z-index: 1;
  }
