<div class="card">
    <button class="btnClose third" (click)="delete()" title="Eliminar Libro">X</button>
    <img class="imgBook" src="{{bookPadre.photo}}" alt="">
    <h2>{{bookPadre.title}}</h2>
    <p>Autor: {{bookPadre.author}} </p>
    <p>Tipo: {{bookPadre.type}} </p>               
    <p>Precio: {{bookPadre.price}} </p>
    <p>idBook: {{bookPadre.id_book | pipeIdBook }} </p>
    <p>idUser: {{bookPadre.id_user}} </p>
    <button type="button" class="btn third"  >Comprar</button>
</div> 
      