<section class="main">    
    <form class="cardSearch" action="">
        <h1>Buscar</h1>
        <input id="title" type="number" class="input" #bookSearch required placeholder="Ingrese Id Book">
        <button type="button" class="btn third" (click)="buscarLibro(bookSearch.value)" >Buscar</button>
    </form>
    <div class="section-cards" *ngIf = " libros.length != 0 ; else msjVacio">
        <ng-conteiner *ngFor = " let libro of libros; let even = even">
            <app-card [bookPadre]="libro" [ngClass]=" even / 2 === 0 ? 'btnPar' : '' " (elementoBorrar)="borrar($event)" ></app-card>
        </ng-conteiner>        
    </div>
    <ng-template #msjVacio>
        <div class="card card-vacia">
            <h2>Libreria Vacia</h2>
        </div>
    </ng-template>   
</section>

